@page
@model GuessIngGameWithEfCoreAndCosmoDb.Pages.LostModel
@{
    ViewData["Title"] = "Lost";
}

<h1>Lost</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
