@page
@model GuessingGameWithCosmodb.Pages.WonModel
@{
    ViewData["Title"] = "Won";
}

<h1>Won</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
